@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* Imports */


*{
    margin: 0px;
    padding: 0px;
}

/*This is going to be the nav bar and all its styling */

nav{
    min-height: 80px;
    max-height: 250px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    font-weight: bolder;
}
.nav-top img{
    height: 100px;
    width: auto;
}
.nav-img{
    justify-content: center;
}
.nav-top{
    display: inline;
    margin-bottom: 25px;
    background-color: #F8EAE3;
    vertical-align: top;
    text-align: center;
}
.nav-lower{
    margin-top: 25px;
    text-align: center;
}
.nav-top ul{
    display: inline-flex;

}
.nav-lower ul{
    display: inline-flex;
    align-content: space-between;
}

nav ul li{
    list-style: none;
}

.nav-lower ul li a{
    padding-left:30px;
    padding-right:30px ;
    opacity: .8;
    color: #1D4E42;
    font-size: 20px;
}
.nav-top ul li a{
    padding-left: 10px;
    padding-right: 10px;
    opacity: .8;
    color: #1D4E42;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-top ul li{
    color: #58A18B;
}
.nav-top ul li a:hover{
    transition: 0.5s;
    opacity: 1.0;
}
.nav-lower ul li a:hover{
    transition: 0.5s;
    opacity: 1.0;
}
nav ul li a{
    text-decoration: none;
    
}
/* End Nav bar */
/*Begin body part 1 */
.wrap-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px; 
    margin: 50px;

}

.wrap-1 img{
    width: auto;
    height: auto;
}
.wrapper{
    background-color: #F8EAE3;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 150px 150px 150px 150px;
    border-radius: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;

}
.wrapper h2{
    font-family: 'Pacifico', cursive;
    text-align: center;
    justify-content: center;
    color: #1D4E42;
}
.wrapper p{
    text-align: center;
    justify-content: center;
    padding: 15px;
}
.img-holder{
    justify-content: center;
    text-align: center;
}
.wrapper img {
    justify-content: left;
    width: 100px;
    height: 100px;
}